.league-index-create {
    display: flex;
    justify-content: center;
}

.create-league-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.create-league-button:hover {
    background-color: gold;
}

.league-index-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
