.homepage-container {
    padding-top: 0px;
}
.homepage-top-section {
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 0px;
    /* border-bottom: 3px solid black; */
    height: auto;
    top: -50px;
    z-index: -1;
}

.homepage-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
    max-width: 100%;
}

.homepage-top-section-left {
    width: 100%;
    display: flex;
    justify-content: center;
}

.homepage-top-section-left img {
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
    object-fit: cover;
}

.homepage-bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    font-weight: bolder;
}

.homepage-bottom-section img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.homepage-bottom-section div {
    text-align: center;
}

.homepage-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: whitesmoke;
    font-size: 1rem;
}

.homepage-footer div {
    background-color: whitesmoke;
}

.homepage-footer a {
    background-color: whitesmoke;
    text-decoration: none;
    color: inherit;
}

.homepage-footer a:hover {
    color: blue;
}

.homepage-footer-disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: whitesmoke;
    font-size: 0.75rem;
    text-align: center;
}
