.homepage-container {
    padding-top: 20px;
}
.homepage-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}

.homepage-top-section-left {
    max-width: 75%;
    padding-right: 10px;
}

.homepage-top-section-right {
    max-width: 25%;
}

.homepage-top-section-left img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.homepage-top-section-right h1 {
    color: gold;
    font-family: "Brush Script MT", cursive;
    font-size: 2.5rem;
    margin-bottom: 20px;
    width: 100%;
}

.homepage-top-section-right p {
    color: blue;
    font-family: Helvetica;
    font-size: 1.25rem;
}

.homepage-bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.homepage-bottom-section img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.homepage-bottom-section div {
    text-align: center;
}

.homepage-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: whitesmoke;
    font-size: 1rem;
}

.homepage-footer div {
    background-color: whitesmoke;
}

.homepage-footer a {
    background-color: whitesmoke;
    text-decoration: none;
    color: inherit;
}

.homepage-footer a:hover {
    color: blue;
}

.homepage-footer-disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: whitesmoke;
    font-size: 0.75rem;
    text-align: center;
}
