.team-details-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
}

.team-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 25px;
}

.team-details-info {
    flex: 1;
}

.team-details-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left;
}

.team-details-info p {
    font-size: 1rem;
}

.team-details-lower {
    /* padding: 20px; */
}

.team-details-lower h1 {
    text-align: left;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    text-align: center;
}

.roster-list {
    padding-left: 20px;
    padding-right: 800px;
}

.roster-player {
    color: blue;
    cursor: pointer;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roster-player:hover {
    color: gold;
}

.delete-player-button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-player-button:hover {
    background-color: black;
}
