h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: bolder;
    display: block;
    margin-bottom: 5px;
}

form input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
    width: 97%;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    height: 100px;
    resize: none;
}

form button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bolder;
}

form button:hover {
    background-color: gold;
}

form p {
    color: red;
    font-size: 1rem;
    margin-top: -10px;
}

/* Delete Related */

.form-group-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.confirm-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.confirm-button:hover {
    background-color: black;
}

.cancel-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.cancel-button:hover {
    background-color: gold;
}
